body {
    font-family: Arial, sans-serif;
    background: url('tdk.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #050505;
    font-size: 24px;
}

form {
    display: flex;
    gap: 12px;
}

input[type="text"] {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #141414;
    box-shadow: 0 0 5px rgba(223, 5, 25, 0.2);
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background-color: #101010;
    color: white;
    cursor: pointer;
    transition: background-color 0.8s ease, transform 0.2s ease;
    font-size: 16px;
}

button:hover {
    background-color: #fbfafa;
    color:black;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    border-radius: 6px;
}

li:hover {
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

li:last-child {
    border-bottom: none;
}

button.remove {
    background-color: #ee1329;
    transition: background-color 0.8s ease, transform 0.2s ease;
}

button.remove:hover {
    background-color: rgb(57, 8, 122);
    color:white;
    transform: scale(1.1);
}
